!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Blog
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container
      %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        -#%a.navbar-brand{:href => "<haml_loud"} root_path &gt;Home
        = link_to 'Home', root_path, class: 'h2 text-white'
        %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
          %span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse.justify-content-end
          %ul.navbar-nav
            %li.nav-item
              / <a class="nav-link" href=<haml_loud> articles_path </haml_loud>>Articles</a>
            - if user_signed_in?
              %li.nav-item.mr-auto
                = link_to 'Profile', user_path(current_user.id), class: 'btn btn-outline-primary'
                = link_to 'New article', new_article_path, class: 'btn btn-outline-primary'
                = link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-outline-primary'
            - else
              %li.nav-item.mr-auto
                = link_to 'Log in', new_user_session_path, class: 'btn btn-outline-primary'
                = link_to 'Registration', new_user_registration_path, class: 'btn btn-outline-primary'
      / <haml_loud> link_to &#39;Registration&#39;, new_user_session_path, class: &#39;btn btn-outline-primary&#39; </haml_loud>
      / <haml_loud> link_to &#39;Sign out&#39;, destroy_user_session_path, method: :delete, class: &#39;btn btn-outline-primary&#39; </haml_loud>
      %p.notice= notice
      %p.alert= alert
      = yield
